.Phonetic {
  margin: 25px 0px;
}

.Phonetic a {
    text-decoration: none;
    padding: 10px;
    margin-right: 8px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    background: #a04f49;
    color: white;
}

.Phonetic .text {
  opacity: 0.8;
}